
{% extends 'base.html' %}

{% block content %}

<div class="notes-page">

    <h1>My Notes</h1>

    <form action="/add_note" method="POST" class="note-form">

        <input
        type="text"
        name="title"
        placeholder="Note Title"
        required>

        <textarea
        name="content"
        placeholder="Write your note..."
        required></textarea>

        <button type="submit">
            Save Note
        </button>

    </form>

    <div class="notes-grid">

        {% for n in notes %}

        <div class="sticky-note">

            <h3>{{ n.title }}</h3>

            <p>{{ n.content }}</p>

        </div>

        {% endfor %}

    </div>

</div>


{% endblock %}
